@media (min-width: 1200px) {
    .header .container {
        width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 920px;
    }
}
@font-face {
    font-family: univers_condensedmedium;
    src: url(../font/UniversCondensedMedium.ttf);
}
.no-gutter >[class*='col-'] {
    padding-left: 5px;
    padding-right: 5px;
}
/* header */
.header .block__header {
    background-color: #000000;
    border-radius: 15px;
    border: 1px solid #4a4a4a;
    box-shadow: 0 0 10px rgba(0,0,0,0.35);
    left: 0;
    margin: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 130;
    margin-top: 20px;
}
.header .gradient:after {
    background-image: linear-gradient(#bdbdbd,#4a4a4a);
    border-radius: 15px;
    content:'';
    display: block;
    height: 10px;
    left: 1%;
    position: absolute;
    top: 0;
    width: 98%;
}
.header .block__top {
    border-bottom: solid 1px #3f3f3f;
    left: 0;
    padding: 11px 30px 0px 30px;
    position: relative;
    top: 0;
    z-index: 1;
}
.header .header__logo {
    padding-top: 8px;
    width: 110%;
}
.header .fa-phone {
    border-radius: 50%;
    border: 1px solid #e1e1e1;
    color: #e1e1e1;
    float: left;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 30px;
    z-index: 2;
}
.header .phone__number {
    list-style: none;
    padding-left: 30px;
}
header .phone__number .number {
    color: #e1e1e1;
    font-family: 'univers_condensedmedium';
    font-size: 18px;
}
/* search */
.header .search {
    left: 0;
    margin: 5px -15px 0 -15px;
    position: relative;
    top: 0;
    z-index: 125;
}
.header .search__form {
    border-radius: 4px;
    border: 1px solid #ffffff;
    color: #000000;
    font-family: 'pf_dindisplay_proregular';
    padding: 3px 5px;
    width: 90%;
}
.header .search [type=submit] {
    background: transparent url(../img/srch.png) no-repeat center;
    border: 0 none;
    cursor: pointer;
    height: 20px;
    text-indent: -9999px;
    width: 20px;
}
/* header-cart */
.header .image-cart {
    float: left;
}
.header .cart {
    font-size: 12px;
    color: #a1a1a1;
    padding-top: 22px;
}
/* block__bottom */
.header .block__bottom {
    background: none;
    color: #a1a1a1;
    padding: 0 20px;
}
.header .block__bottom .navbar__bottom {
    background: none;
    margin: 0;
}
.header .block__bottom .work-schedule {
    font-size: 12px;
    margin-top: 12px;
}
.header .block__bottom .navbar__log {
    font-size: 13px;
    margin-top: 10px;
    padding: 0 10px;
}
.header .block__bottom .navbar__item,
.header .block__bottom .navbar__more {
    margin-top: 8px;
    padding: 0 10px;
}
.header .block__bottom .login {
    border-bottom: dashed 1px #a1a1a1;
    color: #a1a1a1;
    padding-bottom: 2px;
    text-decoration: none;
}
.header .block__bottom .login:hover {
    border-bottom: none;
}
.header .block__bottom .about-us,
.header .block__bottom .services,
.header .block__bottom .pickup,
.header .block__bottom .cooperation,
.header .block__bottom .contact {
    color: #a1a1a1;
    font-family: 'univers_condensedmedium';
    font-size: 18px;
    margin: 0;
    padding-top: 8px;
    text-decoration: none;
    text-transform: uppercase;
}

.header .block__bottom .navbar__item:hover {
    background: #fff;
    border-radius: 4px;
    padding: 0 10px;
}
.header .block__bottom .about-us:hover,
.header .block__bottom .services:hover,
.header .block__bottom .pickup:hover,
.header .block__bottom .cooperation:hover,
.header .block__bottom .contact:hover {
    color: #464646;
    text-decoration: none;
}
.header .block__bottom .more {
    background: none;
    border: none;
    color: #fff;
    font-family: 'univers_condensedmedium';
    font-size: 18px;
    margin-top: 8px;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
}
.header .block__bottom .dropdown__more-menu {
    border-radius: 10px;
    border: 1px solid #c2c2c2;
    left: -15px;
    margin-top: 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.35);
}
.header .block__bottom .dropdpwn__more-item {
    color: #5081A4;
    font-family: 'univers_condensedmedium';
    font-size: 14px;
    margin: 10px 0;
    text-decoration: underline;
    text-transform: none;
}
.header .block__bottom .dropdpwn__more-item:hover {
    background: none;
    text-decoration: none;
}
.popoverp:before {
    border: solid transparent;
    border-bottom-color: #c2c2c2;
    border-width: 17px;
    bottom: 100%;
    content: " ";
    height: 0;
    margin-left: 17px;
    position: absolute;
    width: 0;
}
.popoverp:after {
    border: solid transparent;
    border-bottom-color: #fff;
    border-width: 17px;
    bottom: 99%;
    content: " ";
    height: 0;
    margin-left: 17px;
    position: absolute;
    width: 0;
}
/* content */
/* categories */
.top-menu {
    border-bottom: 1px solid #c2c2c2;
    display: inline-block;
    padding: 10px 0;
}
.top-menu,
.root-items {
    left: 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 7;
}
.top-menu .root-items {
    list-style: none;
    margin: 0;
    padding: 0;
}
.top-menu .root-items:hover .list__item:after,
.top-menu .sub-item:hover .list__sub-item:after {
    background: rgba(255,255,255, 0.3);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 11;
}
.top-menu .root-items .list__item:hover,
.top-menu .sub-item .list__sub-item:hover{
    position: static;
}
.top-menu .root-items .list__item:hover:after,
.top-menu .sub-item .list__sub-item:hover:after{
    display: none;
}
.top-menu .root-items .list__item {
    display: table;
    float: left;
    padding: 0px 10px;
    position: relative;
    vertical-align: top;
    width: 14%;
}
.top-menu .root-items .vm {
    padding-bottom: 5px;
}
.top-menu .root-items .link {
    text-decoration: none;
}
.top-menu .root-items .link > p {
    height: 90px;
    vertical-align: middle;
}
.top-menu .root-items .name {
    color: #464646;
    display: block;
    font-family: 'univers_condensedmedium';
    font-size: 16px;
    height: 40px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
.top-menu .root-items .name:after {
    background: -webkit-linear-gradient(left,rgba(255,255,255,0),#fff 100%,#fff 10%,#fff);
    bottom: 0;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
}
.top-menu .list__item p {
    padding: 5px 0px;
}
/* sub_item */
.top-menu .list__item .sub-item {
    background: #fff;
    border-radius: 0px 0px 15px 15px;
    border: 1px solid #aaa;
    display: none;
    left: 0;
    list-style: none;
    margin-left: -10px;
    margin-left: 0.5px;
    padding-left: 10px;
    position: absolute;
    width: 100%;
    z-index: 50;
}
.top-menu .list__item:hover .sub-item {
    display: block;
    padding-top: 30px;
}
/* angle sub-item */
.top-menu .root-items .sub-item:before {
    border-color: #aaa transparent transparent transparent;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    content: '';
    height: 0;
    left: 43.5px;
    position: absolute;
    top: 0px;
    width: 0;
    z-index: 1;
}
.top-menu .root-items .sub-item:after {
    border-color: #fff transparent transparent transparent;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    content: '';
    height: 0;
    left: 43.5px;
    position: absolute;
    top: -1px;
    width: 0;
    z-index: 1;
}
/* end angle sub-item */
.top-menu .list__item .list__sub-item {
    display: table;
    float: left;
    max-width: 14.2%;
    overflow: hidden;
    padding: 0px 10px;
    position: relative;
    text-align: left;
}
.top-menu .list__item .list__sub-item .vm .link .name {
    margin-top: 20px;
}
/* slider */
.slide {
    background: #fff;
    margin-top: 20px;
}
.slide .carousel__buttom >li {
    border-radius: 47%;
    border: 0px solid #999;
    box-shadow: 0px 1px 5px #555 inset;
    height: 10px;
    margin: 0px 3px;
    width: 10px;
}
/* information */
.information {
    border-bottom: 1px solid #c2c2c2;
    border-top: 1px solid #c2c2c2;
    margin-top: 20px;
    padding-top: 37px;
    padding-bottom: 30px;
    text-align: center;
}
.information .information__block {

}
.information .information__list {
    background: #f2f2f2;
    border-radius: 10px;
    border: solid 1px #c2c2c2;
    display: inline-block;
    font-family: 'pf_dindisplay_proregular';
    font-size: 12px;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 15px;
    text-align: left;
    vertical-align: top;
    height: 240px;
}
.information__list > h1,h3 {
    font-family: 'univers_condensedmedium';
    font-size: 16px;
    font-weight: inherit;
    margin: 0 0 5px 0;
    text-transform: uppercase;
}
.information .new_title,
.information .news_viewall {
    color: #1C334D;
    padding-bottom: 10px;
}
.information .new_title .new_title-link {
    color: inherit;
    font-weight: inherit;
}
.information .new_title .new_title-link:hover {
    text-decoration: none;
}
.information .new_date {
    display: none;
}
.information .news_viewall > a,
.information .information__wholesalers > a,
.information .list__item >li > a, h3>a {
    color: #464646;
    text-decoration: underline;
}
.information .information__list>h3>a {
    font-size: 75%;
}
.information .list__item {
    list-style: none;
    padding: 0;
}
/* container__brand */
.conteiner__brand {
    margin-top: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}
.content .image {
    display: inline-block;
    height: auto;
    text-align: center;
}
/* footer */
.footer {
    border-top: 1px solid #ccc;
    color: #959595;
    font-size: 12px;
    height: 50px;
    margin-top: 5px;
    position: absolute;
    width: 100%;
}
.footer-item {
    padding-top: 10px;
}
.yashare-auto-init {
    margin-top: -4px;
}
.crear {
    background: url(../img/crear.png) no-repeat center;
    float: right;
    overflow: hidden;
    text-indent: -9999px;
    width: 100px;
}
