.content .content__about-us {
    padding-top: 10px;
    text-align: left;
}
.content .content__about-us > p,
.content .content__about-us > p > span {
    padding: 5px 0;
    font-size: 15px;
}

.content .content__about-us .registration {
    text-decoration: underline;
    color: #464646;
}
.content .content__about-us .text-form {
    font-size: 11px;
}
